/* Card */
.card {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .7em;
    cursor: pointer;
    position: relative;
    transition: ease-in-out;
    transition-duration: .3s;
    border: transparent;
    box-shadow: none;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0;
}

.img {
    width: 100%;
    height: 20em;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: .5em;
}

.desplegable {
    opacity: 0;
    animation: aparecer 0.5s ease-out forwards;
    transform: translateX(10%);
    background-color: rgba(31, 3, 5, 0.824);
    padding: .8em;
    text-align:left;
    font-weight: bold;
    position: absolute;
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overview {
    font-size: 1em;
    background-color: transparent; 
}

.btnCard {
    height: 2.5em;
    margin: 1.5em;
    background-color: black;
    padding: .5em;
    border-radius: .5em;
    border: none;
    font-weight: bold;
    transition: ease-in-out;
    transition-duration: .2s;
}

.btnCard:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@keyframes aparecer {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.card:hover {
    scale: 1.1;
    border: .01em solid rgb(225, 26, 36);
    box-shadow: .1em .1em 1em rgb(225, 26, 36);
}

