.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 10em;
    background-color: rgb(31, 3, 5);
    color: white;
}

.navBar {
    background-color: rgb(31, 3, 5);
}

.link {
    text-decoration: none;
    margin: 1.5em;
    padding: .5em;
    border-radius: .3em;
    font-size: 1.5em;
    transition: ease;
    transition-duration: .3s;
    background-color: transparent;
    font-weight: bold;
}

.link:hover {
    background-color: white;
    color: rgb(31, 3, 5);
}
